{% set routeName = app.request.attributes.get("_route") %}
<div class="modal fade" id="deletePostModal" tabindex="-1" aria-hidden="true" aria-labelledby="deletePostModal"
     data-page="{{ routeName }}"
     data-referer="{{ app.request.headers.get('referer') }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePostModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                This action can't be undone
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" data-delete-path="" data-post-id="" id="confirmPostDelete" class="btn btn-danger">Confirm</button>
            </div>
        </div>
    </div>
</div>