{% set routeName = app.request.get("_route") %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNavbar">
    <div class="container-fluid">
        <span class="navbar-brand">Blog</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline ms-0">
                <a class="btn btn-new-text btn-outline-light{% if routeName == 'new' %} active{% endif %}" id="new" href="{{ path('new') }}" type="button">Post &#9997;</a>
            </form>
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link{% if routeName == 'all' %} active{% endif %}" aria-current="page" id="all" href="{{ path('all') }}">Feed</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link{% if routeName == 'my' %} active{% endif %}" id="my" href="{{ path('my') }}">My blog</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link{% if routeName == 'all_users' %} active{% endif %}" id="all_users" href="{{ path('all_users') }}">Users</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav me-0">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}">Sign out <i class="fa fa-sign-out" aria-hidden="true"></i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link{% if routeName == 'login' %} active{% endif %}" aria-current="page" id="login" href="{{ path('login') }}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link{% if routeName == 'register' %} active{% endif %}" aria-current="page" id="register" href="{{ path('register') }}">Sign up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>