@import '~bootstrap';
@import "~font-awesome";

body {
    background-color: #efefef;
}

.main-wrapper {
    margin-top: 40px;
}

.registration-form, .login-form, .post-form, .post-wrapper, .user-page-wrapper {
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

.form-group {
    margin-top: 10px;
}

.btn-new-text {
    color: white;
}

.btn-new-text:hover {
    color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
}

.posts-page-title {
    margin-bottom: 25px;
}

.card-blog-post.removed {
    transition-duration: .5s;
    transform: translateX(150%);
}

.post-wrapper > div:not(div:last-child) {
    margin-bottom: 20px;
}

.post-credentials {
    font-size: 12px;
    color: #c0c0c0;
}

.comments-number {
    height: 100%;
    position: relative;
}

.comments-number a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
}

.comments-container {
    margin-top: 15px;
    margin-left: 2.5%;
}

.comment-card {
    margin-top: 10px;
}

.comment-card.new {
    animation: pulse .3s ease-out;
}

.leave-comment form {
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
}

.toast-container {
    position: fixed;
    top: 30px;
    right: 10px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(233, 175, 0, .7);
    }

    100% {
        box-shadow: 0 0 0 15px rgba(233, 175, 0, 0);
    }
}

template {
    display: none;
}