{% extends 'base.html.twig' %}
{% form_theme form '@FOSCKEditor/Form/ckeditor_widget.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="login-form mb-5">
        <div class="row">
            <div class="mb-3">
                <h4>
                    {% if form.vars.data.id is null %}
                        Create a post
                    {% else %}
                        Edit the post #{{ form.vars.data.id }}
                    {% endif %}
                </h4>
            </div>
        </div>

        <form method="post">
            {{ form(form) }}
        </form>
    </div>
{% endblock %}