{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('all') }}">Feed</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('postsByAuthor', {'nickname': post.author.nickname }) }}">@{{ post.author.nickname }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-3 align-middle">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') and app.user.id == post.author.id %}
                <div class="btn-group float-end" role="group">
                    <a href="{{ path('edit', {'postId': post.id}) }}" class="btn btn-sm btn-outline-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a>
                    <a href="#" class="btn btn-sm btn-outline-primary delete-post-button"
                       data-delete-path="{{ path('delete', { 'postId': post.id }) }}"
                       data-post-id="{{ post.id }}">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        Delete
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="post-wrapper mb-5">
        <h1>{{ post.title }}</h1>
        <div class="post-content">
            {{ post.content | raw }}
        </div>
        <div class="post-credentials font-monospace">
            <a href="{{ path('postsByAuthor', {'nickname': post.author.nickname}) }}">{% if is_granted('ROLE_USER') and post.author.id == app.user.id %}You{% else %}@{{ post.author.nickname }}{% endif %}</a>
            <span>published this post on {{ post.createdAt | format_datetime() }}</span>
        </div>
        <hr>
        <div class="leave-comment">
            <h5>Leave a comment</h5>
            <form action="{{ path('postComment') }}" method="post" id="leaveComment">
                <input type="hidden" name="postId" value="{{ post.id }}">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" id="name">
                </div>
                <div class="mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea class="form-control" name="comment" id="comment" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Leave a comment</button>
            </form>
        </div>
        <hr>
        <div class="comments-wrapper">
            <h5 id="comments">Comments (<span id="commentNumber">{{ comments | length }}</span>)</h5>
            <div class="comments-container">
                {% if comments | length %}
                        {% for comment in comments %}
                            <div class="card comment-card">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="comment-author">
                                                <b>{{ comment.name }}</b>
                                                {% if comment.user %}
                                                    (<a href="{{ path('postsByAuthor', {'nickname': comment.user.nickname}) }}">@{{ comment.user.nickname }}</a>)
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="comment-created float-end font-monospace">
                                                {{ comment.createdAt | format_datetime() }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <span>{{ comment.comment }}</span>
                                </div>
                            </div>
                        {% endfor %}
                {% endif %}

                <template id="commentCard">
                    <div class="card comment-card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="comment-author"></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="comment-created float-end font-monospace"></div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body"></div>
                    </div>
                </template>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') and app.user.id == post.author.id %}
        {% include 'template-parts/delete-modal.html.twig' %}
    {% endif %}
{% endblock %}