{% extends 'base.html.twig' %}
{% set routeName = app.request.get("_route") %}
{% block body %}
    <h1 class="posts-page-title">{% if routeName == 'my' %}My blog{% elseif routeName == 'postsByAuthor' %}{{ author.nickname }}'s Feed{% else %}Feed{% endif %}</h1>
    {% if not pager.currentPageResults | length %}
        <p>
            {% if routeName == 'my' %}
                You have no posts yet. Let's create one,
            {% elseif routeName == 'postsByAuthor' %}
                This author hasn't yet published any post :(
            {% else %}
                Posts are coming soon. Be the first,
            {% endif %}
            {% if routeName != 'postsByAuthor' %}
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('new') }}">post now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                {% else %}
                    <a href="{{ path('register') }}">register now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                {% endif %}
            {% endif %}
        </p>
    {% else %}
        <div class="posts-wrapper">
            {% for post in pager.currentPageResults %}
                <div class="card mb-3 card-blog-post" data-post-id="{{ post.id }}">
                    <h5 class="card-header"><a href="{{ path('post', {'postId': post.id}) }}">{{ post.title }}</a></h5>
                    <div class="card-body">
                        <p class="card-text">{{ post.excerpt }}</p>
                        <div class="font-monospace post-credentials">
                            <a href="{{ path('postsByAuthor', {'nickname': post.author.nickname}) }}">{% if is_granted('ROLE_USER') and post.author.id == app.user.id %}You{% else %}@{{ post.author.nickname }}{% endif %}</a>
                            <span>published this post on {{ post.createdAt | format_datetime() }}</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="comments-number font-monospace" style="height: 100%">
                                    <a href="{{ path('post', {'postId': post.id}) }}#comments">
                                        {% if post.postComments | length %}
                                            Read {{ post.postComments | length }} comments
                                        {% else %}
                                            Leave a comment
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="btn-group float-end">
                                    <a href="{{ path('post', {'postId': post.id}) }}" class="btn btn-sm btn-outline-primary">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        Read
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') and app.user.id == post.author.id %}
                                        <a href="{{ path('edit', {'postId': post.id}) }}" class="btn btn-sm btn-outline-primary">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                            Edit
                                        </a>
                                        <a href="#" class="btn btn-sm btn-outline-primary delete-post-button"
                                           data-delete-path="{{ path('delete', { postId: post.id }) }}"
                                           data-post-id="{{ post.id }}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            Delete
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="posts-pagination d-flex justify-content-center">
            {% if pager.haveToPaginate %}
                {{ pagerfanta(pager, 'twitter_bootstrap5', {'proximity': 1}) }}
            {% endif %}
        </div>
    {% endif %}
    {% include 'template-parts/delete-modal.html.twig' %}
{% endblock %}
