{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="login-form">
                <div class="row">
                    <div class="mb-3">
                        <h4>Sing in</h4>
                    </div>
                </div>

                <form method="post">
                    <div class="mb-3">
                        <label for="login_email" class="form-label required">Email</label>
                        <input type="email" id="login_email" name="email" required="required" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="login_password" class="form-label required">Password</label>
                        <input type="password" id="login_password" name="password" required="required" class="form-control">
                    </div>
                    <div class="mb-3">
                        <button type="submit" id="login_signIn" class="btn-primary btn">Sign in</button>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>

                <p>Don't have an account? <a href="{{ path('register') }}">Register now <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>

                {% if error %}
                    <div class="auth-error">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        <b>{{ error.messageKey|trans(error.messageData, 'security') }}</b>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}
