{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="registration-form">
                <div class="row">
                    <div class="mb-3">
                        <h4>Sign up</h4>
                    </div>
                </div>

                {% if error is defined and error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form method="post">
                    {{ form(form) }}
                </form>

                <p>Have an account? <a href="{{ path('login') }}">Sign In <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>

            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}