{% extends 'base.html.twig' %}
{% block body %}
    <h1 class="mb-4">List of users</h1>
    <div class="user-page-wrapper">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Posts</th>
                    <th scope="col">Comments</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pager.currentPageResults %}
                    <tr>
                        <th scope="row">{{ user.id }}</th>
                        <td><a href="{{ path('postsByAuthor', {'nickname': user.nickname}) }}">@{{ user.nickname }}</a></td>
                        <td>{{ user.email }}</td>
                        <td class="text-end">{{ user.posts | length }}</td>
                        <td class="text-end">{{ user.postComments | length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if pager.haveToPaginate %}
            <div class="posts-pagination d-flex justify-content-center mt-4">
                {{ pagerfanta(pager, 'twitter_bootstrap5', {'proximity': 1}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}